extends layout

block content
	h1= title
	//escaped interpolation
	p Welcome to #{title} - #{html_message}
	//html is not escaped
	p #{title} - !{html_message}
  
	//expression interpolation (escaped)
	p= html_message
  
	//express interpolation (unescaped)
	p!= html_message
	p!= 'Message: ' + html_message.toLowerCase()
  
	//control structures
	//for loop
	- for(var i in heroes){
		div #{i}. #{heroes[i].name}
	- }

	//alternate for loop
	- for(var i in heroes)
		div #{i}. #{heroes[i].name}
   
	//conditionals
	- if(typeof(title) != 'undefined')
		h1= title
	- else
		h1= 'title is missing'
   
	//forEach
	- heroes.forEach(function(hero, i){
		div= hero.name
	- })
	
	//while loop
	pre
	
		n = 10
		- while(n>0)
			= n + '\n'
			- n--
	
	//defining functions if you think it's a good idea
	- function greet(name)
		p Hi #{name}!
		
	- greet('Joe')
	
	
	//JADE CONSTRUCTS
	for hero in heroes
		if hero.role == 'captain'
			.msg Aye Captain!
		else if hero.role == 'enforcer'
			.msg Easy there, tough guy
		else
			.msg Gimme beers!